body {
  text-align: center;
  color: white;
  background-color: black;
  font-family: Roboto, Arial, sans-serif;
}

img {
  width: 20em;
}

p {
  font-family: Roboto-mono, consolas, monospace;
  font-weight: 2em;
}
